<div class="side-bar">
  <div class="side-head">
    <div class="user-name"><%= link_to current_user.name, "/users/#{current_user.id}/edit",class: "user-name" %></div>
    <div class="side-btn"><%= link_to "チャットを作成する", new_room_path %></div>
  </div>
  <div class="rooms">
    <% current_user.rooms.each do |room| %>
      <div class="room"><%= link_to room.name, room_messages_path(room.id) %></div>
    <% end %>
  </div>
</div>