<div class="side-bar">
  <div class="side-head">
    <div class="user-name">Tom</div>
    <div class="side-btn">チャットを作成する</div>
  </div>
  <div class="rooms">
    <div class="room">ChatRoom1</div>
    <div class="room">ChatRoom2</div>
  </div>
</div>